
body {
	top:0px;
    background-color: #E9E9E9;
}

#content {
    margin: 0 auto;
    top: 10%;
    width: 40%;
    height: 70%;
    background-color: #fff;
}


#isbn {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#form {

	height: 100%;
}

.formSignin, .formSignUp {
	padding-top: 5%;
	margin: 0 auto;
	width: 40%;
}

.btn-custom, .submit-custom {
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: rgb(87, 6, 140);
	border-color: white;
	border: none;
}

.submit-custom {
	text-align: center;
}

.btn-custom:hover {
	color: rgb(87, 6, 140);
	background-color: white;
	border: none;
}



h1 {
	text-align: center;
	color: rgb(87, 6, 140);
	font-weight: bold;
}

header {
	border-bottom: 1px solid #e1e8ee;
}