<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Barcode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff)) no-repeat; font-size: 13px;">
    <form id="form">
        <div style="background-color: #fff; border-bottom: 1px solid #ddd;">
            <input type="file" id="file" style="width: 280px; line-height: 18px; padding: 20px;" />
        </div>
        <p id="isbn" style="font-family: Helvetica, sans-serif; width: 320px; line-height: 18px; padding: 0; text-align: center;">
            Take a picture of the barcode
        </p>
        <canvas id="canvas" width="2000" height="1500" style="width: 320px; height: 240px;"></canvas>
    </form>
    <div id="info"></div>
    <!-- <form action="/__init__.py" method='GET'>
        <input type="hidden" id="barcode_isbn" name="">
        <br>
        <input type="submit" value="Purchase">
    </form> -->
    <!-- <script src="barcode.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='barcode.js') }}"></script>
    <script>
    try {

        document.getElementById('file').onchange = function() {

            document.getElementById('isbn').innerHTML = 'Processing…';

            var image = new Image();

            image.onload = function() {

                var canvas = document.getElementById('canvas');
                var width = canvas.width;
                var height = canvas.height;

                var context = canvas.getContext('2d');
                context.drawImage(image, 0, 0, width, height);

                var barcode = new Barcode(context, width, height);
                var line = barcode.scan();

                if (line) {
                    // Barcode found!
                    document.getElementById('info').innerHTML = line.isbn;
                    document.getElementById('isbn').innerHTML = line.isbn;
                    document.getElementById('bc').value = line.isbn;
                    barcode.print(line);
                } else {
                    document.getElementById('isbn').innerHTML = 'Sorry, could not find barcode, please try again';
                }
            };

            image.src = window.webkitURL.createObjectURL(this.files[0]);
        };

    } catch (e) {
        alert(e);
    }
    </script>
    <!-- <form action="/__init__.py" method="GET">
        Project file path:
         <input type="hidden" name="barcode_isbn" id="barcode_isbn">
        <br>
        <input type="submit" value="Submit">
    </form> -->
    <form action='/p' method='POST'>
        <input type="text" name="bc" id="bc" readonly="readonly">
        <input type="submit" value="Purchase">
    </form>
</body>

</html>
