<!DOCTYPE html>
<html lang="en">
<head>
	

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<style>
table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
}
th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 3px;
}
</style>
<body>
	<div id = "content" style = "background-color:none;">
		<div id = "form">
        <header align="middle">
            <img src="static/NYUgoLogo.png" width="70%" height="70%" align="middle">
        </header>
		
            
			<h1 align="center">Purchases</h1>
			<table class = "table table-responsive table-stripe" style = "background-color:none;width:70%;height:80%;">
			
			<thead>
			<tr>
				<th>Item</th>
				<th>Cost</th>
			</tr>
			</thead>

	<tbody>
	{% for purchase in purchases %}
	    <tr>
	        <td>{{ purchase[1] }}</td>
	        <td>{{ purchase[2] }}</td>
	    </tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	</div>
	</div>
</body>
</html>